@page
@model Admin.Pages.Categories.IndexModel
@{
}

<a asp-page="Create" class="" >Create </a>

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Category Name </th>
                    <th>Slug</th>
                    <th>Number Of Subs</th>
                    <th>Operation</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in @Model.CategoryList)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Slug</td>
                        <td>@item.SubCategories.Count</td>
                        <td>
                            <a asp-page="Edit" class="" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="Create" class="" asp-route-id="@item.Id">Create Child Category</a> |
                            <a asp-page="Index" class="" asp-route-id="@item.Id">List Childs </a> |
                            <a asp-page="Delete" class="" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@{
    var prev = Model.CategoryList.HasPrevPage ? "" : "disabled";
    var next = Model.CategoryList.HasNextPage ? "" : "disabled";
    int page = Model.CategoryList.PageIndex;

}



<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item @prev">
        <a asp-page="Index" asp-route-pageIndex="@(page - 1)" class="page-link">Prev</a>
    </li>

    @for (var i = 1; i <= @Model.CategoryList.TotalPage; i++)
    {
            @if(page == i)
            {
                <li class="page-item active">
                    <span class="page-link">@i</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a asp-page="Index" asp-route-pageIndex="@i" class="page-link">@i</a> 
                </li> 
            }        
    }

    <li class="page-item @next">
        <a asp-page="Index" asp-route-pageIndex="@(page + 1)" class="page-link">Next</a>
    </li>
  </ul>
</nav>