@using Application.Services.ProductServices.PDPProduct
@model PDPProductDto

@{
    var idproduct = Model.Id;
}


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p>@Model.Name</p>
            <h2>@Model.Price.ToString("n0") $</h2>
        </div>
        <div class="col-sm-4">
            @foreach(var i in Model.Images)
            {
                <img src="@i.ImageUrl" style="width:150px;height:150px">
            }
        </div>
        <form asp-action="Index" asp-controller="Basket" method="post">
            <input type="hidden" name="productId" value="@Model.Id" />
            <input type="hidden" name="quantity" value="1" />
            <input type="submit" value="Add To Basket" class="btn btn-warning" />
        </form>

        <br />

    </div>

    <br /><hr /><br />

    <div class="row">
        <form action="/favo" method="post">
            <label class="form-check-label">IsFavorite</label>
            <input type="hidden" name="productId" value="@Model.Id" />
            <input type="hidden" name="slug" value="@Model.Slug" />
           <input type="checkbox" asp-for="IsFavorite" class="form-check-input" onclick="submit()"/>
        </form>
    </div>

    <div class="row">
        <form action="/addcomment" method="post">
            <textarea name="Body"></textarea>
            <input type="hidden" name="Slug" value="@Model.Slug" />
            <input type="hidden" name="productId" value="@Model.Id" />
            <button type="submit" class="btn btn-secondary">Send Comment</button>
        </form>
    </div>

    @if(Model.Comments.Count > 0)
    {
        @foreach (var item in Model.Comments)
        {
            <div class="row border p-2">
                <h3>@item.Email</h3>
                <p>@item.Body</p>
                
            </div>
        }
    }
</div>